.container {
    max-width: calc(var(--card-max-width) * 5 + var(--movies-gap) * 4);
    margin: 5rem auto;
    margin-bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--movies-gap);
    transform: translateY(-10rem);
}

#cover_image {
    margin-top: 4rem;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    position: relative;
}
#cover_image::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to top, var(--primary-color) , transparent);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#cover_image img{
    height: 100%;
    object-fit: cover;
    min-width: 100%
}

#movie {
    display: flex;
    gap: 3rem;
}

#movie #poster {
    overflow: hidden;
}

#movie #poster img{
    height: 100%;
    object-fit: cover;
    width: 50rem;
    max-width: 100%;
}

#movie #movie_information {
    padding-top: 2rem;
    color: var(--light-color);
}

#movie #movie_information h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#movie #movie_information .year {
    /* font-size: 1.15rem; */
    /* font-weight: bold; */
    margin-right: 1rem;
}

#movie #movie_information .rate {
    background-color: var(--navbar-color);
}

#movie #movie_information h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
}
#movie #movie_information p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}



#seats {
    overflow-x: auto;
    
}

.main-container {
	background: #25262c;
	color: #7c7d80;
	width: 800px;
	max-height: 590px;
	padding: 20px;
	margin: auto;
	border-radius: 5px;
}

.head,
.footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.head {
	border-bottom: 1px solid #7c7d80;
}

.footer {
	border-top: 1px solid #7c7d80;
}

.movie-info,
.title-info,
.seat-info,
.total-cost-info{
	display: flex;
	align-items: center;
}

.total-cost-info{
    gap: 0.5rem;
}

.title {
	color: #fff;
	margin-right: 20px;
	margin-bottom: 5px;
}

.title-info h6 {
	color: #fff;
	background: #7c7d80;
	text-transform: uppercase;
	font-size: 10px;
	padding: 3px;
	margin-right: 7px;
	border-radius: 2px;
}

.cinema-id {
	font-weight: 300;
	margin-bottom: 15px;
}

.movie-date {
	color: #fff;
	margin-bottom: 25px;
	font-weight: 400;
}


.seat-selection-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	perspective: 1000px;
}

.screen {
	background: url("https://i.ibb.co/gV1d3F8/screen.jpg") no-repeat center/cover;
	width: 85%;
	height: 120px;
	margin: auto;
	transform: rotateX(-45deg);
	box-shadow: 0px 32px 40px -20px rgba(255, 255, 255, 0.5);
}

.seats-container {
	transform: rotateX(45deg);
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.row:not(:last-child) {
	margin-bottom: 25px;
}

.seat {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #68a9f8;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #68a9f8;
}

.vip-seat {
	background: #85cf68;
	color: #85cf68;
}

.seat:not(.desabled-seat):hover,
.vip-seat:not(.desabled-seat):hover {
	color: #fff;
	outline: 3px solid #68a9f8;
	outline-offset: -1px;
	-moz-outline-radius: 100%;
	scale: 1.2;
}

.vip-seat:not(.desabled-seat):hover {
	outline: 3px solid #85cf68;
}

.desabled-seat {
    background-color: #7c7d80;
    color: #7c7d80;
    cursor: default;
}


.seat-selected {
	color: #fff;
	outline: 2px solid #08a9f8;
	outline-offset: 3px;
	-moz-outline-radius: 100%;
	scale: 1.2;
}

.seat-selected:not(.desabled-seat):hover {
	outline: 6px solid #68a9f8;
	outline-offset: -1px;
}

.seat-selected:is(.vip-seat) {
	outline: 2px solid #85cf68;
}

.seat-selected:is(.vip-seat):hover {
	outline: 6px solid #85cf68;
}


.footer {
	padding: 30px 0 20px;
}

.standard,
.vip {
	display: flex;
	align-items: center;
	margin-right: 25px;
	font-size: 14px;
}

.circle {
	width: 10px;
	height: 10px;
	margin-right: 7px;
	border-radius: 50%;
}

.standard__circle {
	background: #68a9f8;
}

.vip__circle {
	background: #85cf68;
}

.square-btn {
	cursor: pointer;
	padding: 10px 40px;
	color: #fff;
	background: #68a9f8;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

.square-btn:hover {
	background: #85cf68;
	letter-spacing: 1px;
	font-weight: 700;
}
























#related_movies h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--light-color);
    text-align: center;
}

#related_movies #movies {
    max-width: calc(var(--card-max-width) * 5 + var(--movies-gap) * 4);
    padding: 1rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--movies-gap);
    
}

#related_movies .related_movie {
    max-width: var(--card-max-width);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#related_movies .related_movie:is(:hover) {
    scale: 1.03;
    box-shadow: 20px 20px 15px 0px rgba(0, 0, 0, 0.6);
}

#related_movies .related_movie img{
    transition: all 0.5s ease-in-out;
    transform-origin: bottom ;
}

#related_movies .related_movie:is(:hover) img {
    scale: 1.03;
}


#related_movies .rate {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#related_movies #movie_information {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



@media only screen and (max-width: 800px) {
    .container {
        transform: translateY(-20rem);
    }
    #movie {
        flex-wrap: wrap;
    }
}